.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h1 {
    margin-bottom: 30px;
    color: #1e3a8a;
    font-size: 32px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column; 
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    background-color: #1e3a8a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #3b82f6;
    transition: 0.3s ease;
  }
  
  .login-container p {
    margin-top: 20px;
  }
  
  .login-container a {
    color: #1e3a8a;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  
  label{
    text-align: start;
  }